$button-color: #eb8d22;
$button-border: 2px solid #eb8d22;
$button-hover: #ffffff;

.continue-button {
    margin: 5px;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background-color: $button-color;
    border: $button-border;
    width: 10%;
    cursor: pointer;

    p {
        margin: 10px;
        font-size: 1.5em;
    }

    img {
        align-self: center;
        width: 1.5;
        transition: 0.3s ease-in-out;
        transform: scale(1);
    }

    &:hover:enabled {
        background-color: $button-hover;

        img {
            transform: scale(1.3);
        }
    }
}
