$background-color: #ffffff;
$card-color: #eb8d22;

.playground {
    height: 90vh;
    transition: background-image 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .resultBlock,
    .dataStorageBlock {
        width: 35%;
        background-color: $background-color;
        margin: 10px;
    }

    .resultBlock {
        height: 50vh;

        .row {
            height: 10vh;
            text-align: center;
            justify-content: flex-start;
            display: flex;

            .scrambledWord {
                margin-right: 10px;
                transition: all 1s ease-in-out;
            }
        }
    }

    .dataStorageBlock {
        height: 10vh;
        text-align: center;
        justify-content: space-around;
        display: flex;
    }
}

.scrambledWord {
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 1px solid black;
    background-color: $card-color;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
        border: 3px solid black;
    }
}
