$background-color: #ffffff;

.playground {
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .resultBlock,
    .dataStorageBlock {
        min-width: 50%;
        background-color: $background-color;
        margin: 10px;
    }

    .resultBlock {
        height: 50vh;

        .row {
            height: 5vh;
            text-align: center;
            justify-content: flex-start;
            display: flex;
        }
    }

    .dataStorageBlock {
        height: 5vh;
        text-align: center;
        display: flex;
    }
}

