$background-color: #ffffff;
$card-color: #eb8d22;

.playground {
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .resultBlock,
    .dataStorageBlock {
        min-width: 50%;
        background-color: $background-color;
        margin: 10px;
    }

    .resultBlock {
        height: 50vh;

        .row {
            height: 5vh;
            text-align: center;
            justify-content: flex-start;
            display: flex;
        }
    }

    .dataStorageBlock {
        height: 5vh;
        text-align: center;
        display: flex;
    }
}

.scrambledWord {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    font-size: calc(13px + 0.5vw);
    border: 1px solid black;
    background-color: $card-color;
    opacity: 0.8;
    cursor: pointer;

    &:hover {
        border: 3px solid black;
    }
}
