$button-color: #eb8d22;
$button-border: 2px solid #eb8d22;
$text-color: #000000;
$button-hover: #ffffff;

.welcoming-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    align-items: center;
    height: 90vh;
    width: 100%;

    h2 {
        color: $text-color;
        text-align: center;
        font-size: 3em;
        padding: 50px {
            bottom: 150px;
        }
    }

    .description {
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
    }

    .description-rules {
        width: 50%;
        font-size: 2em;
    }

    .description-start {
        align-self: center;

        button {
            margin: 5px;
            justify-content: center;
            border-radius: 50px;
            background-color: $button-color;
            border: $button-border;
            width: 150%;
            cursor: pointer;
            p {
                margin: 10px;
                font-size: 1.5em;
            }

            &:hover {
                background-color: $button-hover;
            }
        }
    }
}
